@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Electronics is the branch of physics and technology that deals with circuits, transistors, microchips, and the behaviour and movement of electrons. It handles electric circuits containing active and passive elements and uses underlying techniques. It is an important part of engineering.


    Technologies are growing at a very fast rate in the world, and it is important for technology enthusiasts to pace up with the latest changes in society.


    Electronic devices have become an important part of our day-to-day life. It has become difficult for us to do work without using electronic devices.


    We live in a generation that uses electronics and technologies where robots and artificial intelligence are capable of doing human work with more ease and efficiency.


    Electronics in our daily life are made up of active and passive electric elements and smaller integrated circuits (IC).


    The ICs, transistors, and diodes are made of semiconductor materials, which work when current flows through them


</p>



<img width="1150" height="400" src="https://www.shutterstock.com/image-vector/salesman-tools-shop-interior-banner-260nw-1152322577.jpg" />