@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Electronic Shop<br />
    Green Town , Khanewal<br />
    <abbr title="Phone">P:</abbr>
    0315-2143937
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ehtashamakmal@gmail.com">ehtashamakmal@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:zainshahid@gmail.com">zainshahid@gmail.com</a>
</address>